/*global*/
.bg-black{
    background-color: #000000;
}
.ms{
    margin-bottom: 148px;
}

/*navbar*/
.menu .nav-item{
    font-size: 14px;
}

@media (min-width: 1200px) {
    .menu .nav-item{
        font-size: 16px;
    }
}

/*блок цель*/
.name-site .h1{
    font-size: 48px;
}