/*global*/
.bg-black{
    background-color: #000000;
}
.ms{
    margin-bottom: 148px;
}
.shadow-text::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 10px;
    bottom: -2px;
    left: 0;
    z-index: -1;
    background-color: #FFD042;
}

/*navbar*/
.menu .nav-item{
    font-size: 14px;
}

@media (min-width: 1200px) {
    .menu .nav-item{
        font-size: 16px;
    }
}

/*блок цель*/
.name-site .h1{
    font-size: 48px;
}

/*блок доставка*/
.delivery-item .image{
    flex-basis: 48px;
    flex-grow: 0;
    flex-shrink: 0;
}

/*блок надежность*/
.save-info{
    padding-right: 30px;
    padding-left: 30px;
}
.save-info .row {
    background-color: #F6F8F9;
}
.save .title::after{
    position: absolute;
    content: url("../image/save/rose.png");
    top: -18px;
    right: -36px;

}
/*программное обеспечение*/
.soft {
    background-color: #212B31;
    padding-top: 145px;
    padding-bottom: 118px;
}

@media (min-width: 768px) {
    .soft {
        background: url("../image/soft/soft_bg.png") right 145px no-repeat #212B31;
        background-size: 350px;
    }
}
@media (min-width: 992px) {
    .soft {
        background: url("../image/soft/soft_bg.png") right 145px no-repeat #212B31;
        background-size: 500px;
    }
}
@media (min-width: 1200px) {
    .soft {
        background: url("../image/soft/soft_bg.png") right 145px no-repeat #212B31;
        background-size: auto;
    }
}

/*карусель с отзывами*/
#voidId.carousel{
    background-color: #F6F8F9;
}
#voidId .carousel-indicators li{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #4e555b;
}
#voidId .carousel-indicators .active {
    background-color: #005cbf;
}

/*нижнее меню*/
.bottom-menu address a{
    color: #6c757d;
}